[Unit]
Description=Battery Monitor

[Service]
Type=simple
ExecStart=/bin/bash /home/simon/.config/i3/scripts/battery-monitor.sh
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
User=simon

[Install]
WantedBy=multi-user.target
